In [17]:
import pandas as pd
import statistics

dataset = pd.read_csv("Iris.csv")

In [18]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
column = dataset['SepalLengthCm']

In [20]:
mean_with_library = column.mean()
median_with_library = column.median()
mode_with_library = column.mode().values[0]

In [21]:
variance_with_library = column.var()
standard_deviation_with_library = column.std()

In [22]:
mean_without_library = sum(column) / len(column)

sorted_column = sorted(column)
n = len(sorted_column)
if n % 2 == 0:
    mid1 = sorted_column[n // 2]
    mid2 = sorted_column[n // 2 - 1]
    median_without_library = (mid1 + mid2) / 2
else:
    median_without_library = sorted_column[n // 2]

counts = {}
for value in column:
    if value in counts:
        counts[value] += 1
    else:
        counts[value] = 1

max_count = max(counts.values())
modes_without_library = [value for value, count in counts.items() if count == max_count]
mode_without_library = modes_without_library[0]

In [23]:
squared_diffs = [(value - mean_without_library) ** 2 for value in column]
variance_without_library = sum(squared_diffs) / len(column)
standard_deviation_without_library = variance_without_library ** 0.5

In [24]:
print("1.")
print("Mean (with library):", mean_with_library)
print("Mean (without library):", mean_without_library)
print("Median (with library):", median_with_library)
print("Median (without library):", median_without_library)
print("Mode (with library):", mode_with_library)
print("Mode (without library):", mode_without_library)
print("2.")
print("Variance (with library):", variance_with_library)
print("Variance (without library):", variance_without_library)
print("Standard Deviation (with library):", standard_deviation_with_library)
print("Standard Deviation (without library):", standard_deviation_without_library)

1.
Mean (with library): 5.843333333333334
Mean (without library): 5.843333333333335
Median (with library): 5.8
Median (without library): 5.8
Mode (with library): 5.0
Mode (without library): 5.0
2.
Variance (with library): 0.6856935123042505
Variance (without library): 0.6811222222222222
Standard Deviation (with library): 0.8280661279778629
Standard Deviation (without library): 0.8253012917851409

In [26]:
#Program find the sum of all elements in a list:
numbers = [1, 2, 3, 4, 5]
sum_of_numbers = sum(numbers)
print("Sum:", sum_of_numbers)

#Program to find the largest element in a list:
numbers = [10, 5, 20, 15, 25]
max_number = max(numbers)
print("Largest number:", max_number)

Sum: 15
Largest number: 25

In [27]:
#Program to access elements of a tuple:
fruits = ("apple", "banana", "cherry")
print(fruits[0])
print(fruits[1])

#Program to concatenate two tuples:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

apple
banana
(1, 2, 3, 4, 5, 6)

In [28]:
#Program to iterate over dictionary items:
student = {"name": "John", "age": 20, "grade": "A"}
for key, value in student.items():
    print(key, ":", value)

#Program to check if a key exists in a dictionary:
student = {"name": "John", "age": 20, "grade": "A"}
if "" in student:
    print("Age exists in the dictionary.")

name : John
age : 20
grade : A

In [29]:
#Program to count the occurrences of a character a string:
sentence = "Hello, World!"
char = "l"
count = sentence.count(char)
print("Occurrences of", char, ":", count)

#Program to check if a string is a palindrome:
def is_palindrome(string):
    reversed_string = string[::-1]
    return string == reversed_string

word = "radar"
if is_palindrome(word):
    print(word, "is a palindrome.")
else:
    print(word, "is not a palindrome.")

Occurrences of l : 3
radar is a palindrome.